/* ============================================= */
 /* Sub-Folder Imports */
 /* ============================================= */

@mixin img-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}