/* ============================================= */
/*              Colors                       */
/* ============================================= */
// Main Colors --------------------------- 
$prime-color: #58e1c1;		// teal green
$second-color: #51ddfc;		// light blue

// BW & Grey ---------------------------  // START HERE
$txt-grey: #777;
$lt-grey: #ccc;
$white: #fff;

// Buttons Colors --------------------------- 
$btn-blue: #51ddfc;		// Default
$btn-green: #63cc82;  		// Success
$btn-red: #e4757a;		// Error
$btn-orange: #fd7856;		// Warning
$btn-purple: #927bc1;		// Info


// Grid Colors --------------------------- //  
$grid-teal: #80e8d1;			// col-12
$grid-dkgreen: #4da2bb;		// col-6
$grid-ltblue: #7ee6fd;			// col-4
$grid-pink: #deb2ee;			// col-3
$grid-green: #88d9a0;		   // col-5
$grid-red: #ec9fa3;			// col-7
$grid-orange: #fd9f85;		  // col-8


/* ============================================= */
/*              Media Query Breakpoint                      */
/* ============================================= */

$break-tablet: '(min-width: 768px)';


/* ============================================= */
/*              Color Functions                      */
/* ============================================= */
// Main-Nav --------------------------- //  
$base: #58e1c1;	
$base-light: lighten($base, 15%);

// Buttons --------------------------- //  
// Default
$blue: #51ddfc;
$blue-light: lighten($blue, 15%);
// Success
$green: #63cc82;
$green-light: lighten($green, 15%);
// Error
$red: #e4757a;
$red-light: lighten($red, 15%);
// Warning
$orange: #fd7856;
$orange-light: lighten($orange, 15%);
// Info
$purple: #927bc1;
$purple-light: lighten($purple, 15%);






