/* ============================================= */
/*              Buttons                          */
/* ============================================= */
.btn {
	  margin-top: 15px;
	  width: 100%;
	  color: $white;
	  border: none;
	  padding: 10px 0;
	  text-transform: uppercase;
	  border-radius: 5px;	
	transition-duration: .4s;
}

.default {
  	background-color: $btn-blue;
		&:hover {
			color: $txt-grey;
			background-color: $blue-light;
			transform: rotateX(15%);
		} 
}

.success {
 	background-color: $btn-green;
			&:hover {
			color: $txt-grey;
			background-color: $green-light;
		}
}

.error {
 	background-color: $btn-red;
			&:hover {
			color: $txt-grey;
			background-color: $red-light;
		}
}

.warning {
 	background-color: $btn-orange;
			&:hover {
			color: $txt-grey;
			background-color: $orange-light;
		}
}

.info {
 	background-color: $btn-purple;
			&:hover {
			color: $txt-grey;
			background-color: $purple-light;
		}
}



