/* ============================================= */
/*              Grid System                      */
/* ============================================= */
.container {
	  padding: 0 10px;
}

.row {
	  display: flex;
	  flex-direction: column;
	  padding: 1em 10px;
}

[class^=col] {
	  margin-top: 10px;
	  flex-basis: 100%;
	  min-height: 25px;
	  padding: 10px;
	  border-radius: 5px;
}

.theme.col-1 {
	  background-color: $btn-purple;
}

.theme.col-2 {
  	background-color: $btn-orange;
}

.theme.col-3 {
  	background-color: $grid-pink;
}

.theme.col-4 {
  	background-color: $grid-ltblue;
}

.theme.col-5 {
  	background-color: $grid-green;
}

.theme.col-6 {
  	background-color: $grid-dkgreen;
}

.theme.col-7 {
	background-color: $grid-red;
}

.theme.col-8 {
	background-color: $grid-orange;
}

.theme.col-9 {
	background-color: $btn-red;
}

.theme.col-10 {
	background-color: $btn-green;
}

.theme.col-11 {
	background-color: $second-color;
}

.theme.col-12 {
  	background-color: $grid-teal;
}

.card {
  	flex-basis: 100%;
}